$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url(https://fonts.googleapis.com/css?family=Short+Stack|Laila);

$maincolor: #467386;
$secondary-color: #6e92a1;
$main-font: 'Short Stack', cursive;
$second-font:'Laila', serif;

html,
body {
  background-color: $maincolor;
  height: 100%;
  width: 100%;
}

.content {
  background-color: $secondary-color;
}

.navbar {
  .sign {
    margin-top: 1%;
  }

  .signin {
    margin-right: 1%;
  }
}

.dog-description {
  display: block;
  float: left;
  width: 100%;
}

.dog-thumb {
  float: left;
  margin: 5px, 5px, 5px, 5px;
  max-height: 100%;

  .img {
    display: block;
    max-height: 200px;
    max-width: 200px;
  }
}

.dog-text-info {
  clear: right;
  float: right;


  h1 {
    margin: 0 auto;
    width: 100%;
  }
}

.dog-stats {
  display: block;
  margin-left: 10%;
}

.dog-actions {
  clear: both;
  float: right;
  margin-top: 5%;
}

.wag-brand {
  font-family: $main-font;
}

.wag-brand-off {
  font-family: $second-font;
}
